@import 'reset'; // RESET CSS
@import 'common'; // COMMON CSS

// HEADER
header {
    position: absolute;
    right: 0; left: 0;
    // width: 100%;
    
    > nav {
        display: flex;
        justify-content: center;
        align-items: center;
        
        > h1 {
            margin: 0 55px;
            order:2;
            a{
                display: flex;
                flex-direction: column;
                align-items: center;
                img{
                    margin: 22px 0;
                }
                span{
                    font-size:32px;
                    font-weight: 300;
                    color:#fafafa;
                }
            }
        }
        > ul {
            display: flex;

            li {
                margin: 0 25px;                
                a {
                    position: relative;
                    padding:7px 9px;
                    font:300 18px/18px 'Raleway', sans-serif;
                    letter-spacing: 0.02em;
                    text-transform: uppercase;
                    color:#fafafa;
                    transition: color 0.2s;
                    &:after{
                        content: "";
                        width: 0%; height:1px;
                        position: absolute;
                        left: 50%; bottom: 0;
                        transform: translateX(-50%);
                        background: linear-gradient(to right, #902616, $primary);
                        transition: width 0.2s;
                    }
                    &:hover{
                        color:$primary;                        
                    }
                    &:hover:after{
                        width: 100%;
                    }
                }
            }
            &.main_left_menu {
                order:1;
            }
            &.main_right_menu {
                order:3;
            }
        }
    }
}

// MAIN SLIDER
.main_slider {
    padding-top: 25vh;
    height:100vh;
    background-image: url(../images/header_bg.jpg);
    background-position: center;
    background-size: cover;

    .swiper-slide {

        h2 {
            margin-bottom: 60px;
            color:#fff;
        }
        p {
            margin-bottom: 60px;
            font:300 50px/65px 'Raleway', sans-serif;
            letter-spacing: 0.01rem;
            color:#fafafa;
        }
        .btn:not(:last-of-type) {
            margin-right: 20px;
        }
    }
    > .main_slider_wrapper {
        overflow: hidden;
    }


    // Swiper Js
    .swiper-pagination {
        bottom: 10vh;
        .swiper-pagination-bullet {
            position: relative;
            width: 21px;
            height: 21px;
            border-radius: 0;
            border: 2px solid #fff;
            background: transparent;
            opacity: 0.5;
            overflow: hidden;
            &:before {
                content: "";
                position: absolute;
                left: 50%; top: 50%;
                transform: translate(-50%, -50%);
                width: 0px;
                height: 0px;
                border-radius: 50%;
                background: $primary;
                transition: 0.5s;
            }
        }
        .swiper-pagination-bullet-active {
            opacity: 1;
            &:before {
                width: 30px;
                height: 30px;
            }
        }
    }
    .swiper-button-prev {
        color:#8b8d91;
        transition: color 0.3s;
        &:hover {
            color:$primary;
        }
    }
    .swiper-button-next {
        color:#8b8d91;
        transition: color 0.3s;
        &:hover {
            color:$primary;
        }
    }
}

// ABOUT US
.about_us {
    .feature {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        p {
            margin-top: -30px;
            font-size:28px;
            line-height: 40px;
        }
    }

    .feature_item {
        position: relative;
        padding:0 23px 23px;
        border: 1px solid #e6e9ed;
        > h3 {
            margin-bottom: 10px;
            display: flex;
            align-items: flex-end;
            flex-wrap: wrap;
            gap:10px;
            font-family: 'Open Sans', sans-serif;
            font-size: 20px;
            font-weight: 600;
            color:#303030;
        }
        > .ribbon {
            position: absolute;
            left: -1px; bottom: 100%;
            width: 50%;
            height: 30px;
            background: #fff;
            border-top: 1px solid #e6e9ed;
            border-left: 1px solid #e6e9ed;
            &::after {
                position: absolute;
                content: "";
                left: 100%; top: 0;
                width: 30px;
                height: 30px;
                border-width: 15px;
                border-style: solid;
                border-color: transparent transparent #fff #fff;
                box-sizing: border-box;
            }
            .box {
                position: absolute;
                display: block;
                top: 0; left: 100%;
                transform-origin: 0 0;
                transform: rotate(-45deg);
                width: 37px;
                height: 41px;
                border-left: 1px solid #e6e9ed;
            }
        }
    }
    .typo {
        width: 41px;
        height: 41px;
        background-position: 0 -38px ;
    }
    .full {
        width: 41px;
        height: 41px;
        background-position: -51px -38px ;
    }
    .accurate {
        width: 41px;
        height: 41px;
        background-position: -101px -38px ;
    }
}

// PARALLAX
.parallax {
    background: $primary;
    color:#fff;
    .content_tit::before {
        background: #fff;
    }
    &.frame {
        &:before {
            background: $primary;
        }
        &:after {
            border-color: transparent transparent $primary $primary;
        }
    }
    blockquote {
        position: relative;
        max-width: 880px;
        margin: 0 auto;
        &::before {
            position: absolute;
            top: -40px; left: -35px;
            content: '“';
            font-family: 'Times New Roman', sans-serif;
            font-size:150px;
            opacity: 0.3;
        }
        p {
            margin-bottom: 50px;
            font-size: 30px;
            line-height: 40px;
            font-style: italic;
        }
        small {
            font-size: 30px;
        }
    }
}