@import 'reset'; // RESET CSS
@import 'common'; // COMMON CSS

// HEADER
header {
    position: absolute;
    right: 0; left: 0;
    transition: 0.3s;
    
    > nav {
        display: flex;
        justify-content: center;
        align-items: center;
        
        > h1 {
            margin: 0 55px;
            order:2;
            a{
                display: flex;
                flex-direction: column;
                align-items: center;
                img{
                    margin: 22px 0;
                }
                span{
                    font-size:32px;
                    font-weight: 300;
                    color:#fafafa;
                }
            }
        }
        > ul {
            display: flex;
            flex-wrap: wrap;
            li {
                margin: 0 5px 5px;                
                a {
                    position: relative;
                    padding:7px 9px;
                    font:300 18px/18px 'Raleway', sans-serif;
                    letter-spacing: 0.02em;
                    text-transform: uppercase;
                    color:#fafafa;
                    transition: color 0.2s;
                    &:after{
                        content: "";
                        width: 0%; height:1px;
                        position: absolute;
                        left: 50%; bottom: 0;
                        transform: translateX(-50%);
                        background: linear-gradient(to right, #902616, $primary);
                        transition: width 0.2s;
                    }
                    &:hover{
                        color:$primary;                        
                    }
                    &:hover:after{
                        width: 100%;
                    }
                }
            }
            &.main_left_menu {
                order:1;
            }
            &.main_right_menu {
                order:3;
            }
        }
    }
}
header.fix {
    position: fixed;
    right: 0; left: 0;
    background: #2e3844;
    z-index: 99;
    > nav {
        padding: 0 10px;
        justify-content: space-between;        
        > h1 {
            padding: 20px 0;
            margin: 0;
            order:1;
            a{
                flex-direction: row;
                img{
                    margin: 0;
                }
                span{
                    padding-left: 15px;
                }
            }
        }
        > ul {
            &:first-of-type {                
                margin-left: auto;
            }
            li {
                margin: 0 5px;
            }
        }
    }
}
// MAIN SLIDER
.main_slider {
    padding-top: 25vh;
    height:100vh;
    background-image: url(../images/header_bg.jpg);
    background-position: center;
    background-size: cover;

    .swiper-slide {

        h2 {
            margin-bottom: 60px;
            color:#fff;
        }
        p {
            margin-bottom: 60px;
            font:300 50px/65px 'Raleway', sans-serif;
            letter-spacing: 0.01rem;
            color:#fafafa;
        }
        .btn:not(:last-of-type) {
            margin-right: 20px;
        }
    }
    > .main_slider_wrapper {
        overflow: hidden;
    }


    // Swiper Js
    .swiper-pagination {
        bottom: 10vh;
        .swiper-pagination-bullet {
            position: relative;
            width: 21px;
            height: 21px;
            border-radius: 0;
            border: 2px solid #fff;
            background: transparent;
            opacity: 0.5;
            overflow: hidden;
            &:before {
                content: "";
                position: absolute;
                left: 50%; top: 50%;
                transform: translate(-50%, -50%);
                width: 0px;
                height: 0px;
                border-radius: 50%;
                background: $primary;
                transition: 0.5s;
            }
        }
        .swiper-pagination-bullet-active {
            opacity: 1;
            &:before {
                width: 30px;
                height: 30px;
            }
        }
    }
    .swiper-button-prev {
        color:#8b8d91;
        transition: color 0.3s;
        &:hover {
            color:$primary;
        }
    }
    .swiper-button-next {
        color:#8b8d91;
        transition: color 0.3s;
        &:hover {
            color:$primary;
        }
    }
}

// ABOUT US
.about_us {
    .feature {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        p {
            margin-top: -30px;
            font-size:28px;
            line-height: 40px;
        }
    }

    .feature_item {
        position: relative;
        padding:0 23px 23px;
        border: 1px solid #e6e9ed;
        > h3 {
            margin-bottom: 10px;
            display: flex;
            align-items: flex-end;
            flex-wrap: wrap;
            gap:10px;
            font-family: 'Open Sans', sans-serif;
            font-size: 20px;
            font-weight: 600;
            color:#303030;
        }
    }
    .typo {
        width: 41px;
        height: 41px;
        background-position: 0 -38px ;
    }
    .full {
        width: 41px;
        height: 41px;
        background-position: -51px -38px ;
    }
    .accurate {
        width: 41px;
        height: 41px;
        background-position: -101px -38px ;
    }
}

// PARALLAX
.parallax {
    background: $primary;
    color:#fff;
    .content_tit::before {
        background: #fff;
    }
    &.frame {
        &:before {
            background: $primary;
        }
        &:after {
            border-color: transparent transparent $primary $primary;
        }
    }
    blockquote {
        position: relative;
        max-width: 880px;
        margin: 0 auto;
        &::before {
            position: absolute;
            top: -40px; left: -35px;
            content: '“';
            font-family: 'Times New Roman', sans-serif;
            font-size:150px;
            opacity: 0.3;
        }
        p {
            margin-bottom: 50px;
            font-size: 30px;
            line-height: 40px;
            font-style: italic;
        }
        small {
            font-size: 30px;
        }
    }
}

// STATS EXCERPT
.stats_excerpt {
    background: #656d7a;
    .item {
        display: flex;
        gap: 30px;
        color:#fff;
        .stat_icon {
            width: 45px;
            height: 44px;
            &.user {
                background-position: 0 -92px;
            }
            &.cart {
                background-position: -55px -92px;
            }
            &.comment {
                background-position: -110px -92px;
            }
            &.file {
                background-position: -165px -92px;
            }
        }
        .item_info {
            .count, i {
                font-family: 'Raleway', sans-serif;
                font-size:40px;
                line-height: 40px;
            }
            h3 {
                font-size:25px;
                font-weight: 300;
                margin-top: 30px;
            }
        }
    }
}

// LATEST BLOG
.latest_blog {
    .content_desc {
        max-width: 690px;
        margin: 0 auto 75px;
    }
    .blog_post_wrap {
        position: relative;
        .blog_list_slider {
            overflow: hidden;
        }   
        .control {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 25px;
            height: 42px;
            text-indent: -9999em;
            &.blog_prev {
                left: -60px;
                background: url(../images/prev.jpg);
                cursor: pointer;
                &:hover {
                    background: url(../images/prev_hover.jpg);
                }
            }
            &.blog_next {
                right: -60px;
                background: url(../images/next.jpg);
                cursor: pointer;
                &:hover {
                    background: url(../images/next_hover.jpg);
                }
            }
        }
    }

    li {
        &:hover .post_info h3 {
            color:$primary;
        }
        .post_img {
            img {
                width: 100%;
                object-fit: cover;
            }
        }
        .post_info {
            border:1px solid #e6e9ed;
            padding: 25px;
            h3 {
                font-size:25px;
                font-weight: normal;
                line-height: 28px;
                color:#4e5860;
                transition: color 0.3s;
            }
            hr {
                margin: 10px 0;
                border:none;
                border-bottom: 1px solid #e6e9ed;
            }
            p {
                padding: 15px 0;
                font-size:14px;
                line-height: 25px;
                color:#4e5860;
            }
            a {
                color:#4e5860;
                border: 1px solid #4e5860;
                &:hover {
                    color:#fff;
                }
            }
            .post_meta {
                span {
                    margin:0 10px;
                    font-size: 14px;
                    line-height: 1;
                    font-weight: bold;
                    color:#303030;
                }
                i {
                    vertical-align: bottom;
                }
                .post_user {
                    width: 14px;
                    height: 14px;
                    background-position: -0px -147px;
                }
                .post_calendar {
                    width: 15px;
                    height: 14px;
                    background-position: -24px -147px;
                }
                .post_comment {
                    width: 14px;
                    height: 14px;
                    background-position: -49px -147px;
                }
            }
        }
    }
}

// PORTFOLIO
.portfolio {
    text-align: center;
    position: relative;
    border-top: 1px solid #e6e9ed;
    padding: 100px 0 0 0;
    .sorting {
        .btn.active {
            color:#fff;
            background: $primary;
        }
    }   
    ul{
        display: flex;
        flex-wrap: wrap;
        li {
            position: relative;
            width: 25%;
            overflow: hidden;
            img {
                width: 100%;
                object-fit: cover;
            }
            .hover_content {
                position: absolute;
                padding-top: 45px;
                left: 0; top: 0; right: 0; bottom: 0;
                background: rgba(0,0,0,0.7);
                opacity: 0;
                transition: 0.3s;                
                h3 {
                    padding-bottom: 10px;
                    font-family: 'Open Sans', sans-serif;
                    font-size:20px;
                    font-weight: bold;
                    color: #fff;
                    opacity: 0;
                }
                > p {
                    font-size:15px;
                    color: #fff;
                    opacity: 0;
                }
                .frame_outside {
                    position: absolute;
                    width: 100%;
                    left: 0; bottom: 0;
                    transform: translateY(200%);
                    background: rgba(255,255,255,0.8);
                    height: 37px;
                    opacity: 0;
                    &:before {
                        background: rgba(255,255,255,0.8);
                    }
                    &:after {
                        border-color: transparent rgba(255,255,255,0.8) rgba(255,255,255,0.8) transparent ;
                    }
                    p {                    
                        position: absolute;
                        right: 0; bottom: 23px;    
                        display: flex;
                        justify-content: end;
                        a {
                            width: 18px;
                            height: 22px;
                            background-position: 0 -171px;
                            opacity: 0;
                            &:hover {
                                background-position: 0 -203px;
                            }
                        }
                        span {
                            margin-left: 40px;
                            margin-right: 20px;
                            width: 23px;
                            height: 22px;
                            background-position: -28px -171px;
                            opacity: 0;
                            &:hover {
                                background-position: -28px -203px;
                            }
                        }
                    }
                }
            }
            &:hover {
                .hover_content {
                    opacity: 1;
                    h3 {
                        animation: fadeIn .3s linear 0.1s forwards;
                    }
                    > p {
                        animation: fadeIn .3s linear 0.3s forwards;
                    }
                    .frame_outside {
                        animation: slideUp .2s ease-out forwards;
                        a {
                            animation: fadeIn .2s linear 0.3s forwards;
                        }
                        span {
                            animation: fadeIn .2s linear 0.5s forwards;
                        }
                    }
                }

            }
        }
    }
    .btn {
        margin: 50px auto;
        color:$primary;
        border: 1px solid $primary;
        &:hover {
            color:#fff;
        }
    }
}

// PARTNERS
.partners {
    border-top: 1px solid #e6e9ed;
    img {
        width: 100%;
        object-fit: cover;
    }
}

// TESTIMONIALS
.testimonials {
    background: url(../images/what_do_bg.jpg)no-repeat center top/cover;
    .contents_wrap {
        max-width: 1110px;
        margin: 125px auto 0;
        display: flex;
        align-items: flex-end;
        gap:30px;
    }
    .tab {
        flex:1; 
        background: #fff;
        .review_contents {
            .item {
                padding:30px;
                gap:20px;
                background: #fff;
                display: none;
                opacity: 0;
                &.active {
                    display: flex;
                    animation: fadeIn 0.8s forwards;
                }
                .desc {
                    h4 {
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;
                        gap:20px;
                        font-size:24px;
                        font-weight: bold;
                        span {
                            font-size: 14px;
                            color:$primary;
                        }
                    }
                    p {
                        margin-top: 20px;
                        font-size:15px;
                        line-height: 25px;
                    }
                }
                .inside_frame {
                    transform: translateY(-30px);
                    &:before {
                        height:12px;
                    }
                    &:after {
                        border-width: 6px;
                    }
                }
            }
        }
        .tab_links {
            padding-left: 130px;
            padding-bottom: 20px;
            span {
                margin-right: 8px;
                display: inline-block;
                width: 19px;
                height: 19px;
                border:1px solid #656d78;
                background: #fff;
                text-indent: -9999em;
                transition: 0.2s;
                cursor: pointer;
                &.active {
                    background: $primary;
                }
            }
        }
    }
    .accordion {
        flex:1;
        overflow: hidden;
        dl {
            dt {
                position: relative;
                display: inline-block;
                background: #fff;
                font-size:20px;
                text-transform: uppercase;
                padding: 0 30px;
                line-height: 30px;
                border-top:1px solid $primary;
                border-left:1px solid $primary;
                cursor: pointer;
                z-index: 2;
                &::before {
                    position: absolute;
                    content: "";
                    left: 100%;
                    top: 0;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 15px;
                    border-color: transparent transparent #fff #fff;
                }
                &::after {
                    content: "";
                    position: absolute;
                    display: block;
                    top: 0;
                    left: 100%;
                    -webkit-transform-origin: 0 0;
                    transform-origin: 0 0;
                    -webkit-transform: rotate(-45deg);
                    transform: rotate(-45deg);
                    width: 37px;
                    height: 41px;
                    border-left: 1px solid $primary;
                }
                &.active {
                    border-top:1px solid #fff;
                    border-left:1px solid #fff;
                    &::after {
                        border-left: 1px solid #fff;
                    }
                }
                &:hover {
                    color:$primary;
                }
            }
            dd {
                position: relative;
                border-top: 1px solid $primary;
                background: #fff;
                padding: 0;
                height: 0;
                &::before {
                    position: absolute;
                    content: "";
                    top: -32px;
                    left: 0;
                    width: 100%;
                    height: 31px;
                    background: #fff;
                }
                &.active {
                    padding: 20px;
                    height: auto;
                    font-size:14px;
                    line-height: 25px;
                    border-top: 1px solid #fff;
                }
            }
            &:first-of-type > dd::before {
                display: none;
            }
        }
    }
}

// CONTACT
.conteact {
    .contact_info {
        .item {
            display: flex;
            align-items: center;
            &:not(:last-of-type) {
                margin-bottom: 65px;
            }
            .sprite {
                margin-right:60px;
                margin-left: 20px;
                width: 24px;
                height: 36px;
                font-size:14px;
                line-height: 24px;
                &.marker {
                    background-position: 0 -235px;
                }
                &.envelope {
                    background-position: -34px -235px;
                }
                &.phone {
                    background-position: -69px -235px;
                }
            }
            a {                                    
                color:$primary;
            }

        }
    }
    form {
        .field {
            margin-bottom: 35px;
            label {
                display: none;
            }
            textarea,
            input {
                padding-left: 15px;
                width: 100%;
                height: 50px;
                border:none;
                border-width: 1px;
                border-style: solid; 
                border-image: linear-gradient(to bottom, #fff 20%, #4e5860 100%);
                border-image-slice: 1;
                &::placeholder {
                    font-size:15px;
                    line-height: 24px;
                    font-style: italic;
                    color:#4e5860;
                    font-family: 'Open Sans', sans-serif;
                }
            }
            textarea {
                height: 200px;
            }
        }
    }
}

// MAP
.map {
    padding: 0;
    border-bottom: 2px solid #57595b;
    height: 500px;
    iframe {
        width: 100%;
        height: 100%;
    }
}

// FOOTER
footer {
    position: relative;
    background: #303030;
    .footer_wrap {
        display: flex;
        justify-content: space-around;
        align-items: center;
        h2 {
            order:2;
            a{
                display: flex;
                flex-direction: column;
                align-items: center;
                img{
                    margin: 22px 0;
                }
                span{
                    font-size:32px;
                    font-weight: 300;
                    color:#fafafa;
                    margin-bottom: 22px;
                }
            }
        }
        ul {
            display: flex;        
            order:1;
            li:not(:last-of-type) {
                margin-right: 20px;
            }
            .sprite {
                height: 21px;
                &.facebook {
                    width: 10px;
                    background-position: -0px -281px;
                }
                &.twitter {
                    width: 29px;
                    background-position: -19px -281px;
                }
                &.in {
                    width: 23px;
                    background-position: -57px -281px;
                }
                &.google {
                    width: 21px;
                    background-position: -89px -281px;
                }
                &.instagram {
                    width: 22px;
                    background-position: -120px -281px;
                }
            }
        }
        p.copyright {
            order:3;
            font-size:14px;
            color:#e6e9ed;
        }
    }
    .back_to_Top {
        position: absolute;
        top: -20px;
        right: 10%;
        width: 40px;
        height: 40px;
        text-indent: -9999em;
        background: url(../images/back_to_top.jpg)no-repeat;
        cursor: pointer;
    }
}
