@import 'reset'; // RESET CSS
@import 'common'; // COMMON CSS

// HEADER
header {
    position: absolute;
    right: 0; left: 0;
    // width: 100%;
    
    > nav {
        display: flex;
        justify-content: center;
        align-items: center;
        
        > h1 {
            margin: 0 55px;
            order:2;
            a{
                display: flex;
                flex-direction: column;
                align-items: center;
                img{
                    margin: 22px 0;
                }
                span{
                    font-size:32px;
                    font-weight: 300;
                    color:#fafafa;
                }
            }
        }
        > ul {
            display: flex;

            li {
                margin: 0 25px;                
                a {
                    position: relative;
                    padding:7px 9px;
                    font:300 18px/18px 'Raleway', sans-serif;
                    letter-spacing: 0.02em;
                    text-transform: uppercase;
                    color:#fafafa;
                    transition: color 0.2s;
                    &:after{
                        content: "";
                        width: 0%; height:1px;
                        position: absolute;
                        left: 50%; bottom: 0;
                        transform: translateX(-50%);
                        background: linear-gradient(to right, #902616, $primary);
                        transition: width 0.2s;
                    }
                    &:hover{
                        color:$primary;                        
                    }
                    &:hover:after{
                        width: 100%;
                    }
                }
            }
            &.main_left_menu {
                order:1;
            }
            &.main_right_menu {
                order:3;
            }
        }
    }
}

// MAIN SLIDER
.main_slider {
    padding-top: 25vh;
    height:100vh;
    background-image: url(../images/header_bg.jpg);
    background-position: center;
    background-size: cover;

    .swiper-slide {

        h2 {
            margin-bottom: 60px;
            color:#fff;
        }
        p {
            margin-bottom: 60px;
            font:300 50px/65px 'Raleway', sans-serif;
            letter-spacing: 0.01rem;
            color:#fafafa;
        }
        .btn:not(:last-of-type) {
            margin-right: 20px;
        }
    }
    > .main_slider_wrapper {
        overflow: hidden;
    }


    // Swiper Js
    .swiper-pagination {
        bottom: 10vh;
        .swiper-pagination-bullet {
            position: relative;
            width: 21px;
            height: 21px;
            border-radius: 0;
            border: 2px solid #fff;
            background: transparent;
            opacity: 0.5;
            overflow: hidden;
            &:before {
                content: "";
                position: absolute;
                left: 50%; top: 50%;
                transform: translate(-50%, -50%);
                width: 0px;
                height: 0px;
                border-radius: 50%;
                background: $primary;
                transition: 0.5s;
            }
        }
        .swiper-pagination-bullet-active {
            opacity: 1;
            &:before {
                width: 30px;
                height: 30px;
            }
        }
    }
    .swiper-button-prev {
        color:#8b8d91;
        transition: color 0.3s;
        &:hover {
            color:$primary;
        }
    }
    .swiper-button-next {
        color:#8b8d91;
        transition: color 0.3s;
        &:hover {
            color:$primary;
        }
    }
}

// ABOUT US
.about_us {
    .feature {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        p {
            margin-top: -30px;
            font-size:28px;
            line-height: 40px;
        }
    }

    .feature_item {
        position: relative;
        padding:0 23px 23px;
        border: 1px solid #e6e9ed;
        > h3 {
            margin-bottom: 10px;
            display: flex;
            align-items: flex-end;
            flex-wrap: wrap;
            gap:10px;
            font-family: 'Open Sans', sans-serif;
            font-size: 20px;
            font-weight: 600;
            color:#303030;
        }
    }
    .typo {
        width: 41px;
        height: 41px;
        background-position: 0 -38px ;
    }
    .full {
        width: 41px;
        height: 41px;
        background-position: -51px -38px ;
    }
    .accurate {
        width: 41px;
        height: 41px;
        background-position: -101px -38px ;
    }
}

// PARALLAX
.parallax {
    background: $primary;
    color:#fff;
    .content_tit::before {
        background: #fff;
    }
    &.frame {
        &:before {
            background: $primary;
        }
        &:after {
            border-color: transparent transparent $primary $primary;
        }
    }
    blockquote {
        position: relative;
        max-width: 880px;
        margin: 0 auto;
        &::before {
            position: absolute;
            top: -40px; left: -35px;
            content: '“';
            font-family: 'Times New Roman', sans-serif;
            font-size:150px;
            opacity: 0.3;
        }
        p {
            margin-bottom: 50px;
            font-size: 30px;
            line-height: 40px;
            font-style: italic;
        }
        small {
            font-size: 30px;
        }
    }
}

// STATS EXCERPT
.stats_excerpt {
    background: #656d7a;
    .item {
        display: flex;
        gap: 30px;
        color:#fff;
        .stat_icon {
            width: 45px;
            height: 44px;
            &.user {
                background-position: 0 -92px;
            }
            &.cart {
                background-position: -55px -92px;
            }
            &.comment {
                background-position: -110px -92px;
            }
            &.file {
                background-position: -165px -92px;
            }
        }
        .item_info {
            .count, i {
                font-family: 'Raleway', sans-serif;
                font-size:40px;
                line-height: 40px;
            }
            h3 {
                font-size:25px;
                font-weight: 300;
                margin-top: 30px;
            }
        }
    }
}

// LATEST BLOG
.latest_blog {
    .content_desc {
        max-width: 690px;
        margin: 0 auto 75px;
    }
    .blog_post_wrap {
        position: relative;
        .blog_list_slider {
            overflow: hidden;
        }   
        .control {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 25px;
            height: 42px;
            text-indent: -9999em;
            &.blog_prev {
                left: -60px;
                background: url(../images/prev.jpg);
                cursor: pointer;
                &:hover {
                    background: url(../images/prev_hover.jpg);
                }
            }
            &.blog_next {
                right: -60px;
                background: url(../images/next.jpg);
                cursor: pointer;
                &:hover {
                    background: url(../images/next_hover.jpg);
                }
            }
        }
    }

    li {
        &:hover .post_info h3 {
            color:$primary;
        }
        .post_img {
            img {
                width: 100%;
                object-fit: cover;
            }
        }
        .post_info {
            border:1px solid #e6e9ed;
            padding: 25px;
            h3 {
                font-size:25px;
                font-weight: normal;
                line-height: 28px;
                color:#4e5860;
                transition: color 0.3s;
            }
            hr {
                margin: 10px 0;
                border:none;
                border-bottom: 1px solid #e6e9ed;
            }
            p {
                padding: 15px 0;
                font-size:14px;
                line-height: 25px;
                color:#4e5860;
            }
            a {
                color:#4e5860;
                border: 1px solid #4e5860;
                &:hover {
                    color:#fff;
                }
            }
            .post_meta {
                span {
                    margin:0 10px;
                    font-size: 14px;
                    line-height: 1;
                    font-weight: bold;
                    color:#303030;
                }
                i {
                    vertical-align: bottom;
                }
                .post_user {
                    width: 14px;
                    height: 14px;
                    background-position: -0px -147px;
                }
                .post_calendar {
                    width: 15px;
                    height: 14px;
                    background-position: -24px -147px;
                }
                .post_comment {
                    width: 14px;
                    height: 14px;
                    background-position: -49px -147px;
                }
            }
        }
    }
}

// PORTFOLIO
.portfolio {
    text-align: center;
    position: relative;
    border-top: 1px solid #e6e9ed;
    padding: 100px 0 0 0;
    .sorting {
        .btn.active {
            color:#fff;
            background: $primary;
        }
    }   
    ul{
        display: flex;
        flex-wrap: wrap;
        li {
            position: relative;
            width: 25%;
            overflow: hidden;
            img {
                width: 100%;
                object-fit: cover;
            }
            .hover_content {
                position: absolute;
                padding-top: 45px;
                left: 0; top: 0; right: 0; bottom: 0;
                background: rgba(0,0,0,0.7);
                opacity: 0;
                transition: 0.3s;                
                h3 {
                    padding-bottom: 10px;
                    font-family: 'Open Sans', sans-serif;
                    font-size:20px;
                    font-weight: bold;
                    color: #fff;
                    opacity: 0;
                }
                > p {
                    font-size:15px;
                    color: #fff;
                    opacity: 0;
                }
                .frame_outside {
                    position: absolute;
                    width: 100%;
                    left: 0; bottom: 0;
                    transform: translateY(200%);
                    background: rgba(255,255,255,0.8);
                    height: 37px;
                    opacity: 0;
                    &:before {
                        background: rgba(255,255,255,0.8);
                    }
                    &:after {
                        border-color: transparent rgba(255,255,255,0.8) rgba(255,255,255,0.8) transparent ;
                    }
                    p {                    
                        position: absolute;
                        right: 0; bottom: 23px;    
                        display: flex;
                        justify-content: end;
                        a {
                            width: 18px;
                            height: 22px;
                            background-position: 0 -171px;
                            opacity: 0;
                            &:hover {
                                background-position: 0 -203px;
                            }
                        }
                        span {
                            margin-left: 40px;
                            margin-right: 20px;
                            width: 23px;
                            height: 22px;
                            background-position: -28px -171px;
                            opacity: 0;
                            &:hover {
                                background-position: -28px -203px;
                            }
                        }
                    }
                }
            }
            &:hover {
                .hover_content {
                    opacity: 1;
                    h3 {
                        animation: fadeIn .3s linear 0.1s forwards;
                    }
                    > p {
                        animation: fadeIn .3s linear 0.3s forwards;
                    }
                    .frame_outside {
                        animation: slideUp .2s ease-out forwards;
                        a {
                            animation: fadeIn .2s linear 0.3s forwards;
                        }
                        span {
                            animation: fadeIn .2s linear 0.5s forwards;
                        }
                    }
                }

            }
        }
    }
    .btn {
        margin: 50px auto;
        color:$primary;
        border: 1px solid $primary;
        &:hover {
            color:#fff;
        }
    }
}

// PARTNERS
.partners {
    border-top: 1px solid #e6e9ed;
    img {
        width: 100%;
        object-fit: cover;
    }
}